@import "../../lib/sass/core/_setting";
@import "../../lib/sass/core/_css3";
@import "../../lib/sass/core/_mixin";
@import "../../lib/sass/core/_media-queries";
@import "../../lib/sass/core/_zyz";
@import "../../lib/sass/module/_global";
@import "../../lib/css/swiper.min.css";
//联系我们页面
.contact-detail{
  .top-img{
    display: block;
  }
  section{
    width:$viewWidth;
    margin:0 auto;
  }
}
