<!DOCTYPE html>
<html ng-app="ngApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <title>瑞必拓-关于我们</title>
</head>
<body ng-controller="IndexCtrl" ng-cloak>
    <!--<div ng-include="'nav.html'"></div>         &lt;!&ndash;公共头部&ndash;&gt;-->
    <nav>           <!--顶部导航-->
        <div>
            <img class="logo" src="../../assets/rbt-motor/logo.jpg" />
        </div>
        <div class="navigator">
            <ul>
                <li class="active"><a href="index.html">首页</a></li>
                <li><a href="product.html">产品中心</a></li>
                <li><a href="###">解决方案</a></li>
                <li><a href="about.html">下载中心</a></li>
                <li><a href="about.html">关于我们</a></li>
                <li><a href="about.html">新闻中心</a></li>
                <li><a href="contact.html">联系我们</a></li>
            </ul>
        </div>
    </nav>
    <div class="contact-detail">
        <img src="../../assets/rbt-motor/contact-banner.jpg" class="top-img"/>
        <h2>联系我们</h2>
        <section>
            <p class="company-name">深圳市瑞必拓科技有限公司</p>
            <ul>
                <li>
                    <img src="../../assets/rbt-motor/c-phone.jpg" />
                    <div>
                        <h3>电话</h3>
                        <p>15013664044</p>
                    </div>
                </li>
                <li>
                    <img src="../../assets/rbt-motor/c-letter.jpg" />
                    <div>
                        <h3>邮箱</h3>
                        <p>297045681@qq.com</p>
                    </div>
                </li>
                <li>
                    <img src="../../assets/rbt-motor/c-di.jpg" />
                    <div>
                        <h3>地址</h3>
                        <p>深圳市龙华新区观澜街道石马径社区观天路61号艺强工业村G座2楼</p>
                    </div>
                </li>
            </ul>
        </section>
        <div class="space"></div>
    </div>
    <div ng-include="'footer.html'"></div>         <!--公共底部-->
</body>
</html>
