@import "../../lib/sass/core/_setting";
@import "../../lib/sass/core/_css3";
@import "../../lib/sass/core/_mixin";
@import "../../lib/sass/core/_media-queries";
@import "../../lib/sass/core/_zyz";
@import "../../lib/sass/module/_global";
@import "../../lib/css/swiper.min.css";
//公共模块
//导航模块
nav{
  height:105px;
  width:1140px;
  margin: 0 auto;
  position: relative;
  .logo{
    position: absolute;
    left:0;
    top:10px;
    //width:150px;
    height:90px;
  }
  .navigator{
    @include clearfix();
    &>ul{
      line-height:35px;
      padding-top:45px;
      text-align: center;
      @include float(right);
      font-size:18px;
      &>li{
        @include float();
        margin:0 8px;
        position: relative;
        a{
          color: $black12;
          cursor: pointer;
          padding:6px 14px;
          @include transition-duration(0s);
        }
        a:hover{
          color:$white;
          background-color: $primaryC;
          .caret {
            color:$white;
          }
        }
        //箭头向下的三角图标
        .caret {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          border-top: 4px dashed;
          border-top: 4px solid\9;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
          color:$black12;
        }
      }
      .active{
        a{
          padding:6px 12px;
          color:$white;
          background-color: $primaryC;
          cursor: pointer;
        }
        .caret {
          color:$white;
        }
      }
    }
  }
  //二级目录样式
  .second-level{
    position: absolute;
    top:36px;
    left:0;
    font-size:16px;
    color: #121212;
    cursor: pointer;
    z-index:9999;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: #fff;
    min-width:108px;
    padding:0;
    display: none;
    &>li{
      padding:12px 0;
      line-height: 1;
      width:100%;
      &:hover{
        background-color: $primaryC;
        a{
          color:$white;
        }
      }
    }
  }
  .has-next:hover{
    .second-level{
      display: block;
    }
  }
}

.nav-swiper-container{
  .swiper-container {
    width: 100%;
  }
  .swiper-slide {
    height:auto;
    img{
      width:100%;
      height:100%;
    }
  }
}
.swiper-pagination-bullet-active{
  background-color: $primaryC;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
//我的产品模块
.product{
  padding:100px 0;
  background-color: $whitef1;
  min-width:$viewWidth;
  h2{
    margin:0 auto 40px;
    text-align: center;
    width: $viewWidth;
    color: $gray6;
  }
  ul{
    width:$viewWidth;
    margin:0 auto;
    @include clearfix();
    li{
      @include float();
      width:300px;
      margin:0 20px;
      background-color: $white;
      padding:30px;
      box-shadow: 0 0 3px $gray;
      @include box-sizing(content-box);
      img{
        width:300px;
        @include transform(scale(1));
        @include transition(all 0.3s ease);
        &:hover{
          @include transform(scale(1.1));
        }
      }
      h4{
        padding-top:20px;
        padding-bottom:10px;
        text-align: center;
        color:$gray7;
        font-size: 16px;
        font-weight: normal;
      }
      p{
        margin: 0 0 10px;
        color:$grayDark;
        font-size:13px;
        line-height: 21px;
        height:42px;
        overflow: hidden;
        /*text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;*/
      }
    }
  }
}
//解决方案模块
.solution{
  padding:100px 0;
  background-color: $white;
  min-width:$viewWidth;
  h2{
    margin:0 auto 40px;
    text-align: center;
    width: $viewWidth;
    color: $gray6;
  }
  .solution-swiper-container{
    width:$viewWidth;
    .swiper-slide{
      @include box-sizing(border-box);
      border:16px solid $whitef1;
      padding:20px;
      img{
        width:100%;
        @include transform(scale(1));
        @include transition(all 0.3s ease);
        &:hover{
          @include transform(scale(1.1));
        }
      }
      h3{
        font-size:18px;
        color:$primaryC;
        margin:20px 0 14px;
        font-weight: normal;
      }
      p{
        font-size:13px;
        color:$grayDark;
        line-height: 20px;
        margin-bottom:20px;
        height:100px;
        overflow: hidden;
      }
    }
  }
}
//我们的团队模块
.team{
  padding:100px 0;
  background-color: $white;
  min-width:$viewWidth;
  h2{
    margin:0 auto 40px;
    text-align: center;
    width: $viewWidth;
    color: $gray6;
  }
  ul{
    width:$viewWidth;
    margin:0 auto;
    //@include clearfix();
    @include my-display-flex();
    li{
      //@include float();
      //width:270px;
      margin:0 15px;
      position:relative;
      flex:1;
      img{
        width:100%;
        display: block;
      }
      .team-intro{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        overflow: hidden;
        //background-color:rgba(59, 172, 165, .7);
        background-color:rgba(0, 0, 0, .6);
        color:$white;
        padding:0 16px;
        @include transition(all .5s ease);
        @include opacity(0);
        @include box-sizing(border-box);
        h3,h4{
          text-align:center;
        }
        h3{
          margin-top:100px;
          margin-bottom:8px;
          @include opacity(0);
          @include transition(all .3s ease);
        }
        h4{
          margin-top:100px;
          @include opacity(0);
          @include transition(all .5s ease);
        }
        p{
          font-size:12px;
          margin-bottom:0;
          padding-bottom:12px;
          overflow:hidden;
          text-align: justify;
          line-height:1.5;
          margin-top:100px;
          @include opacity(0);
          @include transition(all .7s ease);
        }
      }
      &:hover{
        .team-intro{
          @include opacity(100);
          h3{
            margin-top:16px;
            @include opacity(100);
          }
          h4{
            margin-top:0;
            @include opacity(100);
          }
          p{
            margin-top:10px;
            @include opacity(100);
          }
        }
      }
    }
  }
}
//关于我们模块
.about{
  padding:100px 0;
  background-color: $whitef1;
  min-width:$viewWidth;
  .about-container{
    width:$viewWidth;
    margin:0 auto;
    @include clearfix();
    padding-right: 20px;
    @include box-sizing(border-box);
  }
  .about-l{
    @include float(left);
    width:700px;
    img{
      width:100%;
      @include transform(scale(1));
      @include transition(all 0.3s ease);
      &:hover{
        @include transform(scale(1.1));
      }
    }
  }
  .about-r{
    @include float(right);
    width:440px;
    h2{
      color: $gray6;
      display: inline-block;
      padding-bottom: 6px;
      border-bottom: 4px solid $primaryC;
    }
    p{
      margin: 20px 0;
      color:$grayDark;
      font-size:13px;
      line-height: 21px;
      overflow: hidden;
    }
  }
}

//联系我们模块
.contact{
  padding:100px 0;
  background-color: $whitef1;
  min-width:$viewWidth;
  .contact-container{
    width:$viewWidth;
    margin:0 auto;
    @include my-display-flex();
    padding-left: 20px;
    @include box-sizing(border-box);
  }
  .contact-l{
    flex:1;
    padding-right:50px;
    padding-top:10px;
    h2{
      color: $gray6;
      display: inline-block;
      padding-bottom: 6px;
      border-bottom: 4px solid $primaryC;
    }
    h3{
      color: $gray6;
      margin: 24px 0 0;
    }
    p{
      margin: 12px 0;
      color:$gray6;
      font-size:13px;
      line-height: 21px;
      overflow: hidden;
    }
  }
  .contact-r{
    flex:3;
    img{
      width:100%;
      @include transform(scale(1));
      @include transition(all 0.3s ease);
      &:hover{
        @include transform(scale(1.1));
      }
    }
  }
}
//底部
footer{
  padding:0 0 0;
  background-color: #141414;
  color:$white;
  min-width:$viewWidth;
  .footer-contact{
    width:$viewWidth;
    margin:30px auto 30px;
    color:#7d7d7d;
    text-align:center;
  }
  .copy-right{
    line-height:40px;
    border-top:1px solid #202020;
    color:$grayDarker;
    font-size:12px;
    text-align:center;
    span{
      margin-right:10px;
      color:#7d7d7d;
    }
  }
  .footer-nav{
    line-height:40px;
    border-bottom:1px solid #202020;
    color:$grayDarker;
    font-size:12px;
    text-align:center;
    a{
      margin-right:20px;
      color:#7d7d7d;
      cursor: pointer;
    }
  }
}
//以上做首页的时候的样式
