@import "../../lib/sass/core/_setting";
@import "../../lib/sass/core/_css3";
@import "../../lib/sass/core/_mixin";
@import "../../lib/sass/core/_media-queries";
@import "../../lib/sass/animate/_fade";
@import "../../lib/sass/animate/_bounce";
@import "../../lib/sass/animate/_slide";
@import "../../lib/sass/animate/_rotate";
@import "../../lib/sass/animate/_flip";
@import "../../lib/sass/animate/_special";
@import "../../lib/sass/animate/_attention-seekers";
@import "../../lib/sass/animate/_zoom";
@import "../../lib/sass/animate/_lightspeed";
@import "../../lib/sass/animate/_tiny";
@import "../../lib/sass/animate/_tiny-flash";
@import "../../lib/css/swiper.min.css";

$thisYellow: #dab200;
html{
  height: 100%;
  width: 100%;
  padding: 0;
  max-width: 1920px;
  margin:0 auto;
}
