<!DOCTYPE html>
<html ng-app="ngApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <title>瑞必拓</title>
</head>
<body ng-controller="IndexCtrl" ng-cloak>
    <div ng-include="'nav.html'"></div>         <!--公共头部-->
    <!-- Swiper banner图-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../../assets/rbt-motor/banner1.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="../../assets/rbt-motor/banner2.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="../../assets/rbt-motor/banner3.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="../../assets/rbt-motor/banner4.jpg" />
            </div>
        </div>
        <!-- Add Pagination 导航的小圆点-->
        <div class="swiper-pagination"></div>
    </div>
    <section class="product">
        <ul>
            <li>
                <img src="../../assets/rbt-motor/product1.jpg" />
                <h4>产品名称1</h4>
                <p>产品介绍（在首页这边取介绍的一部分，在产品页再展示详细的介绍）</p>
            </li>
            <li>
                <img src="../../assets/rbt-motor/product2.jpg" />
                <h4>产品名称2</h4>
                <p>产品介绍（在首页这边取介绍的一部分，在产品页再展示详细的介绍）（在首页这边取介绍的一部分，在产品页再展示详细的介绍）</p>
            </li>
            <li>
                <img src="../../assets/rbt-motor/product3.jpg" />
                <h4>产品名称3</h4>
                <p>产品介绍（在首页这边取介绍的一部分，在产品页再展示详细的介绍）</p>
            </li>
        </ul>
    </section>
</body>
</html>
