<nav>           <!--顶部导航-->
    <div>
        <img class="logo" src="../../assets/rbt-motor/logo.jpg" />
    </div>
    <div class="navigator">
        <ul>
            <!--<li ng-repeat="nav in navs" ng-class="{true: 'active', false: ''}[page==nav.url]">
                <a ng-href="{{nav.url}}">{{nav.name}}</a>
            </li>-->
            <li class="active"><a href="index.html">首页</a></li>
            <li class="has-next">
                <a href="product.html">产品中心<span class="caret"></span></a>
                <ol class="second-level">
                    <li><a href="">产品分类1</a></li>
                    <li><a href="">产品分类2</a></li>
                    <li><a href="">产品分类3</a></li>
                </ol>
            </li>
            <li><a href="###">解决方案</a></li>
            <li><a href="about.html">下载中心</a></li>
            <li><a href="about.html">关于我们</a></li>
            <li><a href="about.html">新闻中心</a></li>
            <li><a href="contact.html">联系我们</a></li>
        </ul>
    </div>
</nav>