@import "../../lib/sass/core/_setting";
@import "../../lib/sass/core/_css3";
@import "../../lib/sass/core/_mixin";
@import "../../lib/sass/core/_media-queries";
@import "../../lib/sass/core/_zyz";
@import "../../lib/sass/module/_global";
@import "../../lib/css/swiper.min.css";
//产品列表模块
.product-list{
  padding:100px 0;
  background-color: $whitef1;
  min-width:$viewWidth;
  h2{
    margin:0 auto 40px;
    text-align: center;
    width: $viewWidth;
    color: $gray6;
  }
  ul{
    width:$viewWidth;
    margin:0 auto;
    @include clearfix();
    li{
      @include float();
      width:300px;
      margin:0 20px 40px;
      background-color: $white;
      padding:30px;
      box-shadow: 0 0 3px $gray;
      img{
        width:300px;
        @include transform(scale(1));
        @include transition(all 0.3s ease);
        &:hover{
          @include transform(scale(1.1));
        }
      }
      h4{
        padding-top:20px;
        padding-bottom:10px;
        text-align: center;
        color:$gray7;
        font-size: 16px;
        font-weight: normal;
      }
      p{
        margin: 0 0 10px;
        color:$grayDark;
        font-size:13px;
        line-height: 21px;
        height:42px;
        overflow: hidden;
        /*text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;*/
      }
    }
  }
}
