<!DOCTYPE html>
<html ng-app="ngApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <title>瑞必拓-产品列表</title>
</head>
<body ng-controller="IndexCtrl" ng-cloak>
    <div ng-include="'nav.html'"></div>         <!--公共头部-->
    <img src="../../assets/rbt-motor/product-banner.jpg" class="top-img"/>
    <section class="product-list">           <!-- 产品介绍模块 -->
        <h2>我们的产品</h2>
        <ul>
            <li ng-repeat="product in products">
                <img ng-src="{{product.image}}" />
                <h4>{{product.name}}</h4>
                <p>{{product.desc}}</p>
                <a ng-href="{{product.url}}" class="btn btn-small">查看详情</a>
            </li>
            <!--<li>
                <img src="../../assets/rbt-motor/product1.jpg" />
                <h4>产品名称1{{product.title}}</h4>
                <p>产品介绍（在首页这边取介绍的一部分单行）</p>
                <a href="product.html" class="btn btn-small">查看详情</a>
            </li>-->
        </ul>
        <!--<a href="###" class="btn btn-large product-more">查看更多</a>
    </section>
    <div ng-include="'footer.html'"></div>         <!--公共底部-->
    <img src="../../assets/rbt-motor/product1.jpg" hidden />
    <img src="../../assets/rbt-motor/product2.jpg" hidden />
    <img src="../../assets/rbt-motor/product3.jpg" hidden />
</body>
</html>
